{% extends 'base.html.twig' %}

{% block title %}Inscription Entreprise{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center text-white" style="height: 90px; background-color: #ff0000;">
        <h1 class="text-center fs-1 fs-md-2 fs-lg-3 fs-xl-4 fw-bold">Inscription Entreprise</h1>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 mx-auto"> <!-- Ajustement pour un formulaire plus large -->
                <div class="shadow p-4 mb-5 bg-body rounded">
                    <form action="#" method="POST">
                        <!-- Vos champs de formulaire ici -->
                        <div class="mb-3">
                            <label for="civilite" class="form-group">Civilité:</label>
                            <select name="civilite" id="civilite" class="form-control">
                                <option value="monsieur">Monsieur</option>
                                <option value="madame">Madame</option>
                                <option value="autre">Autre...</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="prenom" class="form-group">Prénom:</label>
                            <input type="text" class="form-control" id="prenom" name="prenom" required>
                        </div>
                        <div class="mb-3">
                            <label for="nom" class="form-group">Nom:</label>
                            <input type="text" class="form-control" id="nom" name="nom" required>
                        </div>
                        <div class="mb-3">
                            <label for="telephone" class="form-group">Téléphone:</label>
                            <input type="tel" class="form-control" id="telephone" name="telephone" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-group">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="motdepasse" class="form-group">Mot de passe:</label>
                            <input type="password" class="form-control" id="motdepasse" name="motdepasse" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmation" class="form-group">Confirmation:</label>
                            <input type="password" class="form-control" id="confirmation" name="confirmation" required>
                        </div>
                        <div class="mb-3">
                            <label for="fonction" class="form-group">Fonction dans l'entreprise:</label>
                            <select name="fonction" id="fonction" class="form-control">
                                <option value="employe">Employé</option>
                                <option value="directeur">Directeur</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="tel2" class="form-group">Numéro de téléphone 2:</label>
                            <input type="tel" class="form-control" id="tel2" name="tel2" required>
                        </div>
                        <div class="mb-3">
                            <label for="entreprise" class="form-group">Votre entreprise:</label>
                            <input type="text" class="form-control" id="entreprise" name="entreprise" required>
                        </div>
                        <div class="mb-3">
                            <label for="siret" class="form-group">SIRET :</label>
                            <input type="text" class="form-control" id="siret" name="siret" required>
                        </div>
                        <div class="mb-3">
                            <label for="codeNAF" class="form-group">Code NAF :</label>
                            <input type="text" class="form-control" id="codeNAF" name="codeNAF" required>
                        </div>
                        <div class="mb-3">
                            <label for="pays" class="form-group">Pays:</label>
                            <input type="text" class="form-control" id="pays" name="pays" required>
                        </div>
                        <div class="mb-3">
                            <label for="codepostal" class="form-group">Code Postal:</label>
                            <input type="text" class="form-control" id="codepostal" name="codepostal" required>
                        </div>
                        <div class="mb-3">
                            <label for="ville" class="form-group">Ville:</label>
                            <input type="text" class="form-control" id="ville" name="ville" required>
                        </div>

                        <div class="d-flex align-items-center">
                            <button type="submit" class="btn-valider me-3">Valider</button>
                            <button type="button" class="btn-annuler btn-mg">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="text-center">
            Vous avez déjà un compte ? <a href="#" class="link-danger">Se connecter</a>
        </div>
    </div>

    {% include 'boutDeCode/_footer.html.twig' %}
{% endblock %}






