{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/footer.css')}}">
    <link rel="icon" href="assets/images/ESA-RH-Icon.png" type="image/x-icon">
{% endblock %}

<footer class="container-fluid text-light pt-5 pb-3 mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#"><img src="{{asset('assets/images/ESA-RH-Logo-Noir.png') }}" alt="Logo" width="250" height="100" class="img-fluid"></a>
            </div>
            <div class="col-md-3">
                <h5>Liens utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Accueil</a></li>
                    <li><a href="#" class="text-light">A propos</a></li>
                    <li><a href="#" class="text-light">Services</a></li>
                    <li><a href="#" class="text-light">Augustin Ruinard</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Réseaux sociaux</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light"><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href="#" class="text-light"><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="text-light"><i class="bi bi-instagram"></i> Instagram</a></li>
                    <li><a href="#" class="text-light"><i class="bi bi-instagram"></i> Linkedin</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contactez-nous</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-adress"></i> 123 Rue Fictive, 75001 Paris </li>
                    <li><i class="fa fa-phone"></i> +33 1 23 45 67 89</li>
                    <li><i class="fa fa-envelope"></i> contact@esa.com</li>
                </ul>
                <div class="col-md-12">
                    <a href="#" class="btn btn-secondary btn-dark btn-sm">Contactez-nous</a>
                </div>
            </div>
        </div>
  </div>
</footer>
