{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/style-form-inscription.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="assets/images/ESA-RH-Icon.png" type="image/x-icon">
{% endblock %}

<footer>
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod magna vitae tortor vehicula, ac fermentum odio tristique. Integer in semper elit.</p>
    </div>
</footer>
