{% block stylesheets %}
	<link rel="stylesheet" href="assets/css/navBarEntreprise.css">
{% endblock %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container d-flex">
		<div class="col-3 order-md-1">
			<a href="#" class="navbar-brand"><img src="{{asset('assets/images/ESA-RH-Logo.png') }}" alt="Logo" width="130" class="img-fluid"></a>
		</div>
		<div class="col-3 order-md-2">
			<a href="#" class="nav-icon">
				<img src="{{asset('assets/images/icon_user.png') }}" alt="deconnexion" width="40" class="img-fluid">
				<span class="">Nom de l'utilisateur</span>	
			</a>
			<span class="tooltip1">Modifier mes informations</span>
		</div>
		<div class="col-3  order-md-3 text-end me-5">
			<a href="#" class="me-4 nav-icon">
				<i><img src="{{asset('assets/images/icon_out.png') }}" alt="deconnexion" width="40" class="img-fluid"></i>
			</a>
			<span class="tooltip2">Déconnexion</span>
		</div>
	</div>
</nav>


