
h4 {
    color: red; /* Mettre en rouge */
    text-decoration: underline; /* Souligner */
}

.vertical-line {
    border-left: 2px solid black; /* Ligne verticale noire */
    height: 100%;
    margin: auto; /* Centrer verticalement */
}

.btn-postuler {
    color: white;
    background-color: red; /* Bouton Postuler en rouge */
}

.btn-ajouter {
    color: white;
    background-color: red; /* Bouton Ajouter en rouge */
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
}

.pdf-link {
    text-decoration: none;
    text-align: center;
    display: block;
    color: black;
}

.pdf-icon {
    font-size: 48px; /* Ajustez la taille de l'icône selon vos besoins */
    color: black; /* Couleur de l'icône */
    margin-bottom: 10px; /* Espacement sous l'icône */
}

