.navbar {
  padding: 10px;
  height: 60px; /* Hauteur réduite de la navbar */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); /* Ligne ombrée en bas */
  border-bottom: 1px solid #000;
}

.navbar-brand {
  margin-right: auto;
}

.nav-icon {
  display: inline-block;
  position: relative;
}

.nav-icon img,
.nav-icon i {
  width: 40px;
  height: 40px;
}

.tooltip {
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.nav-icons-container {
  display: flex;
  align-items: center; /* Pour aligner les icônes verticalement */
}

/* Empêcher le décalage vers le bas en responsive */
@media (max-width: 992px) {
  .navbar {
    height: auto;
  }
}

