{% extends 'base.html.twig' %}

{% block title %}ESA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/accueil_candidats.css') }}">
{% endblock %}


{% block body %}

    <div class="container text-center">
        <h1 class="mt-5 text-danger">Accueil</h1><br><br>
    </div>

    <div class="container">
        <div class="row g-2">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body p-3">
                        <a href="#" class="pages d-block text-center text-danger">Mes recherches</a><br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris magna quam, varius eget urna rutrum,
                            ultrices lacinia augue. Vestibulum pharetra nibh ipsum, in interdum nunc ultrices id. Cras bibendum lobortis
                            magna, vitae consequat metus mollis et. Mauris at sodales eros. Vivamus a dui neque. Donec porta, nisi eget
                            mollis iaculis, mauris neque pharetra nisl, id semper est odio ut erat. Aliquam pulvinar congue metus,
                            aliquet sodales lectus dictum quis. Suspendisse imperdiet leo arcu, id pellentesque mauris placerat ac.
                            Quisque ultricies consectetur risus, at vulputate quam convallis vel.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body p-3">
                    <a href="#" class="pages d-block text-center text-danger">Favoris</a><br>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris magna quam, varius eget urna rutrum,
                            ultrices lacinia augue. Vestibulum pharetra nibh ipsum, in interdum nunc ultrices id. Cras bibendum lobortis
                            magna, vitae consequat metus mollis et. Mauris at sodales eros. Vivamus a dui neque. Donec porta, nisi eget
                            mollis iaculis, mauris neque pharetra nisl, id semper est odio ut erat. Aliquam pulvinar congue metus,
                            aliquet sodales lectus dictum quis. Suspendisse imperdiet leo arcu, id pellentesque mauris placerat ac.
                            Quisque ultricies consectetur risus, at vulputate quam convallis vel.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body p-3">
                        <a href="{{ path('app_candidatures') }}" class="pages d-block text-center text-danger">Mes candidatures</a><br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris magna quam, varius eget urna rutrum,
                            ultrices lacinia augue. Vestibulum pharetra nibh ipsum, in interdum nunc ultrices id. Cras bibendum lobortis
                            magna, vitae consequat metus mollis et. Mauris at sodales eros. Vivamus a dui neque. Donec porta, nisi eget
                            mollis iaculis, mauris neque pharetra nisl, id semper est odio ut erat. Aliquam pulvinar congue metus,
                            aliquet sodales lectus dictum quis. Suspendisse imperdiet leo arcu, id pellentesque mauris placerat ac.
                            Quisque ultricies consectetur risus, at vulputate quam convallis vel.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body p-3">
                    <a href="{{ path('app_cv') }}" class="pages d-block text-center text-danger">Mes CV et lettres de motivations</a><br>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris magna quam, varius eget urna rutrum,
                            ultrices lacinia augue. Vestibulum pharetra nibh ipsum, in interdum nunc ultrices id. Cras bibendum lobortis
                            magna, vitae consequat metus mollis et. Mauris at sodales eros. Vivamus a dui neque. Donec porta, nisi eget
                            mollis iaculis, mauris neque pharetra nisl, id semper est odio ut erat. Aliquam pulvinar congue metus,
                            aliquet sodales lectus dictum quis. Suspendisse imperdiet leo arcu, id pellentesque mauris placerat ac.
                            Quisque ultricies consectetur risus, at vulputate quam convallis vel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
