{% extends 'base.html.twig' %}

{% block title %}ESA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/cvetlettreCandidat.css') }}">
{% endblock %}

{% block body %}





    <div class="col mx-auto text-center shadow">
        <div class="p-3" style="text-decoration: underline; color: red;">
            <h2>Consultation de votre Cv </h2>
        </div>
    </div>



    <br><br><br>

    <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="row gx-5">
                <div class="col-md-6">
                    <div class="p-4 mb-4 bg-white rounded shadow h-100 w-100">
                        <h4 class="text-center">Veillez déposer votre CV</h4>
                        <br><br>
                        <div class="d-grid gap-2">
                            <input type="file" class="btn btn-primary btn-ajouter" accept=".pdf, .doc, .docx" />
                            <button class="btn btn-secondary" type="button">Modifier</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-4 mb-4 bg-white rounded shadow h-100 w-100">
                        <h4 class="text-center">Lettre de Motivation</h4>
                        <p class="text-start">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae deleniti sed nisi eligendi 
                            nihil odio rerum hic libero quam molestiae earum porro dolor, placeat corporis voluptatum
                            explicabo architecto laudantium magnam.
                        </p>
                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary" type="button">Modifier</button>
                        </div>
                    </div>
                </div>
            </div>
            


        </div>
    </div>




{% endblock %}

