{% extends 'base.html.twig' %}

{% block title %}Inscription-Candidat{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style-form-inscription.cs') }}">
{% endblock %}

{% block body %}


    <nav>
        <div class="container">
            <div class="logo">Inscription</div>
        </div>
    </nav>
    <div class="container">
        <form action="#" method="POST" class="inscription-form">
            <div class="form-group">
                <label for="civilite">Civilité:</label>
                <select name="civilite" id="civilite">
                    <option value="monsieur">Monsieur</option>
                    <option value="madame">Madame</option>
                    <option value="madame">Autre...</option>
                </select>
            </div>
            <div class="form-group">
                <label for="prenom">Prénom:</label>
                <input type="text" id="prenom" name="prenom" required>
            </div>
            <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" required>
            </div>
            <div class="form-group">
                <label for="telephone">Téléphone:</label>
                <input type="tel" id="telephone" name="telephone" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="motdepasse">Mot de passe:</label>
                <input type="password" id="motdepasse" name="motdepasse" required>
            </div>
            <div class="form-group">
                <label for="confirmation">Confirmation:</label>
                <input type="password" id="confirmation" name="confirmation" required>
            </div>
            <div class="form-group">
                <label for="pays">Pays:</label>
                <input type="text" id="pays" name="pays" required>
            </div>
            <div class="form-group">
                <label for="codepostal">Code Postal:</label>
                <input type="text" id="codepostal" name="codepostal" required>
            </div>
            <div class="form-group">
                <label for="ville">Ville:</label>
                <input type="text" id="ville" name="ville" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn valider">Valider</button>
                <button type="button" class="btn annuler">Annuler</button>
            </div>
            <div class="connexion-link">Vous avez déjà un compte ? <a href="#" class="connecter">Se connecter</a></div>
        </form>
    </div>
    <br>



    {% include 'boutDeCode/_footer.html.twig' %}

{% endblock %}




