{% extends 'base.html.twig' %}

{% block title %}ESA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public\assets\css\recherche_candidat.css') }}">
{% endblock %}

{% block body %}



    {# <div class="container">
        <div class="position-relative">
            <div class="bg-light p-3 rounded-lg shadow">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" id="poste" class="form-control" placeholder="poste ou mot clé...">
                    </div>
                   <div class="col-auto">
                        <button class="btn btn-primary" style="background-color: red;">Rechercher</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <br>
    <br>


    <div class="container text-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 d-flex align-items-center">
            <div class="col">
                <div class="p-3 ">
                    <a href="lien1.html" class="contract-type btn btn-primary btn-lg">Type de contrat 1</a>
                </div>
            </div>
            <div class="col">
                <div class="p-3 ">
                    <a href="lien2.html" class="contract-type btn btn-success btn-lg">Type de contrat 2</a>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <a href="lien3.html" class="contract-type btn btn-danger btn-lg">Type de contrat 3</a>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <a href="lien4.html" class="contract-type btn btn-warning btn-lg">Type de contrat 4</a>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <a href="lien6.html" class="contract-type btn btn-dark btn-lg">Type de contrat 6</a>
                </div>
            </div>
        </div>
    </div> #}

    
    {# <div class="p-3 text-center" style="text-decoration: underline; color: red;">
        <h3>Gerer vos candidatures</h3>
    </div>


    <div>
    
    </div>
   <div class="container text-center">
        <div class="row g-0 shadow">
            <div class="col-sm-6 col-md-8">
                <div class="col-sm-6 col-md-8">
                    <p class="text-left">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae deleniti sed nisi eligendi 
                        nihil odio rerum hic libero quam molestiae earum porro dolor, placeat corporis voluptatum
                        explicabo architecto laudantium magnam.
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-4 d-flex justify-content-between align-items-center">
                <div class="button">
                    <button class="btn btn-primary"><span class="icon heart">&#10084;</span> Like</button>
                </div>
                <div class="button">
                    <button class="btn btn-success"><span class="icon phone">&#9742;</span> Call</button>
                </div>
                <div class="button">
                    <button class="btn btn-danger"><span class="icon trash">&#128465;</span> Delete</button>
                </div>
            </div>

        </div>
    </div>

    <br>
    <br>

    <div class="container text-center">
        <div class="row g-0 shadow">
            <div class="col-sm-6 col-md-8">
                <div class="col-sm-6 col-md-8">
                    <p class="text-left">
                       Sous la responsabilité du Directeur Général, vous prenez en charge la gestion opérationnelle de l’intégralité des opérations de l'entreprise (Production, Direction Technique, Stockage). Dans ce cadre, 
                       vous êtes notamment garant de la performance de production, des délais, de la qualité du service rendu dans une logique de sécurité des biens et des personnes. Vous jouez également un rôle 
                       clé dans la structuration et la montée en puissance des processus, 
                       méthodes et de la performance industrielle pour satisfaire aux ambitions de croissance pérenne de l'entreprise et du groupe.
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-4 d-flex justify-content-between align-items-center">
                <div class="button">
                    <button class="btn btn-primary"><span class="icon heart">&#10084;</span> Like</button>
                </div>
                <div class="button">
                    <button class="btn btn-success"><span class="icon phone">&#9742;</span> Call</button>
                </div>
                <div class="button">
                    <button class="btn btn-danger"><span class="icon trash">&#128465;</span> Delete</button>
                </div>
            </div>

        </div>
    </div> #}










    <div class="p-3 text-center" style="text-decoration: underline; color: red;">
        <h3>Recherche d'offres</h3>
    </div>
    
    <section class="filters text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="shadow p-4">
                        <form id="job-search-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="keyword"></label>
                                        <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Entrez un mot-clé">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="location"></label>
                                        <input type="text" id="location" name="location" class="form-control" placeholder="Entrez un lieu">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contract-type"></label>
                                        <select id="contract-type" name="contract-type" class="form-control">
                                            <option value="cdi">CDI</option>
                                            <option value="cdd">CDD</option>
                                            <option value="stage">Stage</option>
                                            <option value="stage">Alternance</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary mt-4 validé">Rechercher</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <br><br>

    {# <div class="container">
        <div class="row">
            
            <div class="col-md-4">
                <div class="accordion" id="accordionExample">
                    <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Accordion Item #1
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item #2
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item #3
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <section class="results text-center">

                    <div class="p-3 text-center" style="text-decoration: underline; color: red;">
                        <h3>Resultats</h3>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <br>
                                <ul id="job-results" class="list-group">
                                    <li class="list-group-item shadow" style="text-align: left;;">
                                        <img src="chemin_vers_votre_logo.png" alt="Logo de votre entreprise">
                                        <h5>2i institut</h5>
                                        <h3 class="red-text" style="color: red;">Alternance MCO</h3>
                                        <p>
                                            L'Architecte SI aura pour objectif de définir l’architecture à mettre en œuvre lors des projets et 
                                            de les décrire dans les référentiels d’architecture (vision fonctionnelle, composants applicatifs et techniques, données)
                                        </p>
                                        <h5>Salaire : 120 à 150 KE</h5>
                                        <h5>Alternance Paris 08 - 75</h5>
                                        <button type="submit" class="btn btn-primary mt-4 validé">Postuler</button>
                                    </li>
                                    <br>
                                    <li class="list-group-item shadow" style="text-align: left;">
                                        <img src="chemin_vers_votre_logo.png" alt="Logo de votre entreprise">
                                        <h5>Bank agro</h5>
                                        <h3 class="red-text" style="color: red;">Gestionnaire de compte</h3>
                                        <p>
                                            L'Architecte SI aura pour objectif de définir l’architecture à mettre en œuvre lors des projets et 
                                            de les décrire dans les référentiels d’architecture (vision fonctionnelle, composants applicatifs et techniques, données)
                                        </p>
                                        <h5>Salaire : 120 à 150 KE</h5>
                                        <h5>CDI Paris 08 - 75</h5>
                                        <button type="submit" class="btn btn-primary mt-4 validé">Postuler</button>
                                    </li>

                                    <br>
                                    <li class="list-group-item shadow" style="text-align: left;">
                                        <img src="chemin_vers_votre_logo.png" alt="Logo de votre entreprise">
                                        <h5>Esic cooperation</h5>
                                        <h3 class="red-text" style="color: red;">Alternance administrateur Reseau</h3>
                                        <p>
                                            L'Architecte SI aura pour objectif de définir l’architecture à mettre en œuvre lors des projets et 
                                            de les décrire dans les référentiels d’architecture (vision fonctionnelle, composants applicatifs et techniques, données)
                                        </p>
                                        <h5>Salaire : 120 à 150 KE</h5>
                                        <h5>Alternance Paris 08 - 75</h5>
                                        <button type="submit" class="btn btn-primary mt-4 validé">Postuler</button>
                                    </li>
                                    <br>
                                    <li class="list-group-item shadow" style="text-align: left;">
                                        <img src="chemin_vers_votre_logo.png" alt="Logo de votre entreprise">
                                        <h5>MGH society</h5>
                                        <h3 class="red-text" style="color: red;">Stage Cybersécurité</h3>
                                        <p>
                                            L'Architecte SI aura pour objectif de définir l’architecture à mettre en œuvre lors des projets et 
                                            de les décrire dans les référentiels d’architecture (vision fonctionnelle, composants applicatifs et techniques, données)
                                        </p>
                                        <h5>Salaire : 120 à 150 KE</h5>
                                        <h5>Stage Paris 08 - 75</h5>
                                        <button type="submit" class="btn btn-primary mt-4 validé">Postuler</button>
                                    </li>
                                
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div> #}











    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <br>
                <div class="accordion shadow" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Type de contrat
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <P>CDD</P>
                            <P>CDI</P>
                            <P>Stage</P>
                            <P>Alternance</P>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Metier/secteur
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Experience dans le poste
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <section class="results">
                    <div class="p-3 text-center" style="text-decoration: underline; color: red;">
                        <h3>Résultats</h3>
                    </div>
                    <ul id="job-results" class="list-group">
                        <li class="list-group-item shadow" style="text-align: left;;">
                            <img src="chemin_vers_votre_logo.png" alt="Logo de votre entreprise">
                            <h5>2i institut</h5>
                            <h3 class="red-text" style="color: red;">Alternance MCO</h3>
                            <p>
                                L'Architecte SI aura pour objectif de définir l’architecture à mettre en œuvre lors des projets et 
                                de les décrire dans les référentiels d’architecture (vision fonctionnelle, composants applicatifs et techniques, données)
                            </p>
                            <h5>Salaire : 120 à 150 KE</h5>
                            <h5>Alternance Paris 08 - 75</h5>
                            <button type="submit" class="btn btn-primary mt-4 validé">Postuler</button>
                        </li>
                        <br>

                        <li class="list-group-item shadow" style="text-align: left;">
                            <img src="chemin_vers_votre_logo.png" alt="Logo de votre entreprise">
                            <h5>Bank agro</h5>
                            <h3 class="red-text" style="color: red;">Gestionnaire de compte</h3>
                            <p>
                                L'Architecte SI aura pour objectif de définir l’architecture à mettre en œuvre lors des projets et 
                                de les décrire dans les référentiels d’architecture (vision fonctionnelle, composants applicatifs et techniques, données)
                            </p>
                            <h5>Salaire : 120 à 150 KE</h5>
                            <h5>CDI Paris 08 - 75</h5>
                            <button type="submit" class="btn btn-primary mt-4 validé">Postuler</button>
                        </li>
                        <br>

                        <li class="list-group-item shadow" style="text-align: left;">
                            <img src="chemin_vers_votre_logo.png" alt="Logo de votre entreprise">
                            <h5>Esic cooperation</h5>
                            <h3 class="red-text" style="color: red;">Alternance administrateur Reseau</h3>
                            <p>
                                L'Architecte SI aura pour objectif de définir l’architecture à mettre en œuvre lors des projets et 
                                de les décrire dans les référentiels d’architecture (vision fonctionnelle, composants applicatifs et techniques, données)
                            </p>
                            <h5>Salaire : 120 à 150 KE</h5>
                            <h5>Alternance Paris 08 - 75</h5>
                            <button type="submit" class="btn btn-primary mt-4 validé">Postuler</button>
                        </li>
                        <br>
                        <li class="list-group-item shadow" style="text-align: left;">
                            <img src="chemin_vers_votre_logo.png" alt="Logo de votre entreprise">
                            <h5>MGH society</h5>
                            <h3 class="red-text" style="color: red;">Stage Cybersécurité</h3>
                            <p>
                                L'Architecte SI aura pour objectif de définir l’architecture à mettre en œuvre lors des projets et 
                                de les décrire dans les référentiels d’architecture (vision fonctionnelle, composants applicatifs et techniques, données)
                            </p>
                            <h5>Salaire : 120 à 150 KE</h5>
                            <h5>Stage Paris 08 - 75</h5>
                            <button type="submit" class="btn btn-primary mt-4 validé">Postuler</button>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>






{% endblock %}

