<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{asset('assets/images/ESA-RH-Icon.png')}}">

        <!-- Feuilles de styles -->
        <link rel="stylesheet" href="{{asset('assets/bootstrap-5.3.3-dist/css/bootstrap.min.css')}}">
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{asset('assets/css/global.css')}}">


        <!-- Feuilles de javascripts -->
        <script src="{{asset('assets/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js')}}" defer></script>
        {% block javascripts %}
        {% endblock %}
    </head>

    <body class="d-flex flex-column min-vh-100">

        {% block body %}
        {% endblock %}


    </body>

</html>
