{% block body %}
<!-- Modal Structure -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Vous êtes ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <a href="{{ path('inscription-candidat') }}" class="btn btn-choice">Candidat</a>
                <a href="{{ path('inscription-entreprise') }}" class="btn btn-choice">Entreprise</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
