{% extends 'base.html.twig' %}

{% block title %}ESA
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/entreprises.css') }}">
{% endblock %}

{% block body %}

	<main>
		<section class="container">
			<div class="container-result">
				<div class="row">
					<div class="col-lg-4 col-md-6 mb-30">
						<a href="/candidat/page-entreprise.html/detail?id=759420">
							<article class="card">
								<div class="container-picture-society"><img alt="" src="/files/live/mounts/images/presentation_entreprise/fond_defaut.png"><!----></div>
								<div class="card-body card-society-block">
									<div class="container-society-header">
										<div class="container-society-logo"><img alt="" src="/files/live/mounts/images/presentation_entreprise/759420/MIG_RENAME_81C27284F77A447375BA39FB2F0005EEACCF28D8.png"><!----></div>
										<div class="container-society-infos">
											<h3>BENAIS  YOHANN</h3>
										</div>
									</div>
									<div
										class="container-society-panel">
										<!---->
										<div class="container-society-bottom">
											<div class="infos-hzt container-society-domain">
												<img alt="search" src="/modules/apec-jahia-module/assets/img/angular/offres/secteur-societe-orange.png">
												<span>
													CONSEIL POUR LES AFFAIRES ET AUTRES CONSEILS DE GESTION
												</span>
												<span></span>
												<!---->
											</div>
											<!---->
											<div class="infos-between">
												<div class="infos-hzt">
													<img alt="search" src="/modules/apec-jahia-module/assets/img/angular/offres/map-orange.svg">
													<span class="society-region">Soisy Sous Montmorency</span>
												</div>
												<!---->
												<div class="infos-hzt society-number-offers">
													<img alt="pannier" src="/modules/apec-jahia-module/assets/img/angular/offres/bag-orange.svg" class="similar-offers-icon">
													<span>7 Offres</span>
												</div>
												<!---->
											</div>
										</div>
									</div>
								</div>
							</article>
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
